table {
      width: 80%;
      margin: 50px auto;
      border-collapse: collapse;
      font-family: Arial, sans-serif;
    }

    td {
      padding: 20px;
      vertical-align: middle;
      text-align: center;
      border: none;
    }

    img {
      width: 150px;
      height: 160px;
      border-radius: 10px;
    }
    
    body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000c27;
}
